header {
  background-color: aqua; }
  header .primer-ancla {
    color: black; }
  header nav {
    text-align: center; }
    header nav a {
      font-family: Verdana, Geneva, Tahoma, sans-serif; }
      header nav a:hover {
        color: blueviolet; }

body {
  font-size: 16px; }
