$color: aqua;

header{
    background-color: $color;
    .primer-ancla{
        color: black;
    }
    nav{
        text-align: center;
        a{
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            &:hover{
                color: blueviolet;
            }
        }
    }
}